.logo-wrapper
                    svg.logo(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%' viewbox='0 0 2308 2308' enable-background='new 0 0 2308 2308' xml:space='preserve')
                        path(fill='#000000' opacity='1.000000' stroke='none' d='\
                        M2310.000000,840.000000 \
                        C2310.000000,1330.666626 2310.000000,1820.333374 2310.000000,2310.000000 \
                        C1540.666626,2310.000000 771.333313,2310.000000 2.000000,2310.000000 \
                        C2.000000,1540.666626 2.000000,771.333313 2.000000,2.000000 \
                        C771.333313,2.000000 1540.666626,2.000000 2310.000000,2.000000 \
                        C2310.000000,281.000000 2310.000000,560.000000 2310.000000,840.000000 \
                        M2256.741455,840.001038 \
                        C2255.429688,835.540894 2254.273682,831.027893 2252.780029,826.629456 \
                        C2245.186035,804.262878 2237.783447,781.825378 2229.769287,759.609131 \
                        C2222.666992,739.922241 2216.383789,719.724548 2207.051025,701.099365 \
                        C2182.603516,652.311401 2156.755859,604.223450 2131.303223,555.942444 \
                        C2125.730713,545.372131 2120.286377,534.585510 2113.387451,524.891541 \
                        C2094.091064,497.777740 2074.073730,471.176697 2054.321533,444.387665 \
                        C2044.639526,431.256500 2034.586426,418.521332 2022.942627,406.935944 \
                        C2006.910278,390.984192 1991.857056,374.051575 1976.273804,357.644196 \
                        C1966.411621,347.260468 1956.755249,336.630463 1946.284912,326.886414 \
                        C1927.791016,309.675598 1908.658813,293.153076 1889.957153,276.162537 \
                        C1871.484375,259.380188 1852.911621,242.790955 1831.999756,228.963638 \
                        C1818.684082,220.158997 1806.019653,210.375656 1792.859497,201.327072 \
                        C1784.917358,195.866302 1776.800293,190.587418 1768.387817,185.897507 \
                        C1745.135132,172.934143 1721.688721,160.317871 1698.313843,147.573715 \
                        C1662.122192,127.841682 1626.603516,106.776138 1587.580078,92.725754 \
                        C1572.885742,87.435097 1558.744629,80.317978 1543.758301,76.183052 \
                        C1500.823364,64.336739 1457.730835,52.982044 1414.419800,42.603779 \
                        C1379.224121,34.170124 1344.758301,22.545261 1308.415039,18.870012 \
                        C1285.276367,16.530092 1262.357056,12.886085 1238.924316,13.214580 \
                        C1194.937378,13.831219 1150.935791,13.356265 1106.940308,13.404224 \
                        C1075.006104,13.439035 1043.082642,12.533707 1011.337646,18.051098 \
                        C987.467834,22.199724 963.168579,23.935926 939.359436,28.356247 \
                        C919.129761,32.112003 899.338745,38.214962 879.332092,43.192593 \
                        C865.492920,46.635757 851.300171,48.981499 837.819397,53.478233 \
                        C803.118225,65.053368 768.672119,77.404251 734.231140,89.743782 \
                        C717.037598,95.903885 699.526184,101.573006 683.130310,109.479340 \
                        C651.069763,124.939392 619.581055,141.604446 588.078430,158.193832 \
                        C573.084778,166.089508 558.303833,174.481964 543.968201,183.509613 \
                        C528.200195,193.439346 513.015198,204.300125 497.649872,214.862442 \
                        C483.386566,224.667130 468.481476,233.719421 455.188171,244.710602 \
                        C436.239227,260.377991 418.505829,277.515228 400.249512,294.020538 \
                        C373.606506,318.108154 346.932159,342.161255 320.362976,366.330017 \
                        C317.959106,368.516663 314.631439,371.343414 314.471649,374.035492 \
                        C313.962616,382.610931 307.680786,386.322174 302.423492,391.235992 \
                        C292.971130,400.070679 282.502686,408.224365 274.769470,418.415924 \
                        C251.839630,448.634979 230.227280,479.849487 207.726364,510.399719 \
                        C191.897003,531.891724 177.871536,554.299500 166.160324,578.386047 \
                        C140.820404,630.502930 114.431732,682.109192 88.681496,734.028137 \
                        C85.156471,741.135498 82.235092,748.666626 80.047592,756.292175 \
                        C68.675873,795.933655 57.181164,835.549866 46.623096,875.411560 \
                        C38.718521,905.255127 27.929085,934.422363 24.726957,965.439148 \
                        C23.738262,975.015991 21.886806,984.500488 20.646984,994.055359 \
                        C18.424862,1011.180725 14.694423,1028.311523 14.531286,1045.468018 \
                        C13.843621,1117.787354 14.224942,1190.116943 14.282550,1262.442871 \
                        C14.285708,1266.407349 14.707565,1270.397827 15.257258,1274.331177 \
                        C18.200903,1295.394409 21.139910,1316.459106 24.288683,1337.492310 \
                        C27.289167,1357.535034 29.232035,1377.856567 33.973289,1397.492065 \
                        C42.790771,1434.009033 52.537243,1470.347656 63.383247,1506.312378 \
                        C70.570091,1530.143555 80.238800,1553.234009 89.002617,1576.578735 \
                        C93.673820,1589.021851 97.827560,1601.790894 103.870262,1613.563232 \
                        C123.472054,1651.751221 143.664169,1689.640503 163.981216,1727.455566 \
                        C174.824615,1747.637817 183.892761,1768.807129 197.998199,1787.205200 \
                        C213.793060,1807.806763 228.766159,1829.037964 244.533707,1849.661133 \
                        C262.240295,1872.820435 277.034973,1898.532227 301.499084,1915.919922 \
                        C302.703949,1916.776245 304.071472,1918.566040 304.006012,1919.852051 \
                        C303.667877,1926.494629 308.146942,1930.190552 312.299438,1933.953125 \
                        C325.605377,1946.010010 339.055359,1957.908325 352.465088,1969.850708 \
                        C381.769684,1995.948608 411.068207,2022.053467 440.399384,2048.121582 \
                        C458.540985,2064.245361 476.250244,2080.808350 496.997314,2093.826660 \
                        C522.662781,2109.930664 547.737549,2126.974365 573.145996,2143.491211 \
                        C577.879211,2146.567871 582.882568,2149.275146 587.933655,2151.809082 \
                        C623.353149,2169.577881 658.803345,2187.285645 694.287231,2204.925293 \
                        C698.441833,2206.990723 702.782349,2208.750732 707.169312,2210.269043 \
                        C745.198914,2223.433350 783.214844,2236.639648 821.330688,2249.550537 \
                        C837.065002,2254.880127 852.738647,2261.037109 868.951172,2264.182373 \
                        C913.651672,2272.855469 958.693115,2279.756836 1003.458496,2288.115234 \
                        C1029.099976,2292.902344 1054.737671,2295.081299 1080.829956,2294.783691 \
                        C1132.151245,2294.197998 1183.484131,2294.622803 1234.812134,2294.588867 \
                        C1238.800537,2294.586182 1242.807861,2294.457031 1246.773926,2294.061523 \
                        C1267.264038,2292.017822 1287.761963,2290.031006 1308.222412,2287.717285 \
                        C1338.558350,2284.286865 1369.169556,2282.686523 1398.696289,2273.806396 \
                        C1408.884033,2270.742432 1419.332153,2268.549561 1429.643188,2265.888184 \
                        C1453.480469,2259.736084 1477.908447,2255.230469 1501.009644,2247.004395 \
                        C1546.085083,2230.953369 1591.972656,2216.800537 1634.635010,2194.454834 \
                        C1666.134155,2177.956055 1699.696167,2165.489502 1729.674927,2145.995361 \
                        C1763.682739,2123.881836 1799.831299,2105.091309 1831.692993,2079.634521 \
                        C1854.710571,2061.243896 1881.162598,2046.863159 1898.383789,2021.764526 \
                        C1899.379883,2020.312744 1901.640991,2018.796021 1903.249146,2018.862427 \
                        C1909.502441,2019.120483 1912.935791,2014.990479 1916.568848,2011.138428 \
                        C1937.111938,1989.356567 1957.566162,1967.490845 1978.124268,1945.723389 \
                        C1997.774170,1924.917358 2017.510864,1904.193481 2037.214966,1883.438599 \
                        C2051.186279,1868.722046 2065.091309,1854.070068 2076.049561,1836.715332 \
                        C2088.128418,1817.585938 2101.737793,1799.429932 2114.196289,1780.530762 \
                        C2126.277344,1762.204468 2138.453613,1743.876465 2149.287354,1724.809937 \
                        C2160.952393,1704.280151 2171.228760,1682.953369 2181.878174,1661.856689 \
                        C2189.814453,1646.135376 2197.839844,1630.430786 2204.971924,1614.340454 \
                        C2211.302246,1600.058960 2216.617432,1585.316406 2222.094238,1570.670288 \
                        C2230.012695,1549.494141 2238.442383,1528.464355 2245.244385,1506.926880 \
                        C2253.452637,1480.935669 2260.246826,1454.495605 2267.523926,1428.213989 \
                        C2269.827881,1419.893799 2272.319824,1411.555542 2273.687500,1403.058472 \
                        C2279.178467,1368.939209 2284.194336,1334.743896 2289.519775,1300.597656 \
                        C2293.469727,1275.271118 2296.305664,1249.966675 2295.974121,1224.179321 \
                        C2295.271729,1169.527344 2295.781982,1114.859985 2295.716797,1060.198975 \
                        C2295.711670,1055.900391 2295.248291,1051.584595 2294.740967,1047.307251 \
                        C2292.470459,1028.166016 2290.219727,1009.021179 2287.747070,989.905396 \
                        C2284.892334,967.837097 2282.612793,945.721619 2276.942871,924.046814 \
                        C2269.791748,896.709106 2263.751465,869.080811 2256.741455,840.001038 \
                        z')
                        path(fill='#3FD93F' opacity='1.000000' stroke='none' d='\
                        M2256.986816,840.789429 \
                        C2263.751465,869.080811 2269.791748,896.709106 2276.942871,924.046814 \
                        C2282.612793,945.721619 2284.892334,967.837097 2287.747070,989.905396 \
                        C2290.219727,1009.021179 2292.470459,1028.166016 2294.740967,1047.307251 \
                        C2295.248291,1051.584595 2295.711670,1055.900391 2295.716797,1060.198975 \
                        C2295.781982,1114.859985 2295.271729,1169.527344 2295.974121,1224.179321 \
                        C2296.305664,1249.966675 2293.469727,1275.271118 2289.519775,1300.597656 \
                        C2284.194336,1334.743896 2279.178467,1368.939209 2273.687500,1403.058472 \
                        C2272.319824,1411.555542 2269.827881,1419.893799 2267.523926,1428.213989 \
                        C2260.246826,1454.495605 2253.452637,1480.935669 2245.244385,1506.926880 \
                        C2238.442383,1528.464355 2230.012695,1549.494141 2222.094238,1570.670288 \
                        C2216.617432,1585.316406 2211.302246,1600.058960 2204.971924,1614.340454 \
                        C2197.839844,1630.430786 2189.814453,1646.135376 2181.878174,1661.856689 \
                        C2171.228760,1682.953369 2160.952393,1704.280151 2149.287354,1724.809937 \
                        C2138.453613,1743.876465 2126.277344,1762.204468 2114.196289,1780.530762 \
                        C2101.737793,1799.429932 2088.128418,1817.585938 2076.049561,1836.715332 \
                        C2065.091309,1854.070068 2051.186279,1868.722046 2037.214966,1883.438599 \
                        C2017.510864,1904.193481 1997.774170,1924.917358 1978.124268,1945.723389 \
                        C1957.566162,1967.490845 1937.111938,1989.356567 1916.568848,2011.138428 \
                        C1912.935791,2014.990479 1909.502441,2019.120483 1903.249146,2018.862427 \
                        C1901.640991,2018.796021 1899.379883,2020.312744 1898.383789,2021.764526 \
                        C1881.162598,2046.863159 1854.710571,2061.243896 1831.692993,2079.634521 \
                        C1799.831299,2105.091309 1763.682739,2123.881836 1729.674927,2145.995361 \
                        C1699.696167,2165.489502 1666.134155,2177.956055 1634.635010,2194.454834 \
                        C1591.972656,2216.800537 1546.085083,2230.953369 1501.009644,2247.004395 \
                        C1477.908447,2255.230469 1453.480469,2259.736084 1429.643188,2265.888184 \
                        C1419.332153,2268.549561 1408.884033,2270.742432 1398.696289,2273.806396 \
                        C1369.169556,2282.686523 1338.558350,2284.286865 1308.222412,2287.717285 \
                        C1287.761963,2290.031006 1267.264038,2292.017822 1246.773926,2294.061523 \
                        C1242.807861,2294.457031 1238.800537,2294.586182 1234.812134,2294.588867 \
                        C1183.484131,2294.622803 1132.151245,2294.197998 1080.829956,2294.783691 \
                        C1054.737671,2295.081299 1029.099976,2292.902344 1003.458496,2288.115234 \
                        C958.693115,2279.756836 913.651672,2272.855469 868.951172,2264.182373 \
                        C852.738647,2261.037109 837.065002,2254.880127 821.330688,2249.550537 \
                        C783.214844,2236.639648 745.198914,2223.433350 707.169312,2210.269043 \
                        C702.782349,2208.750732 698.441833,2206.990723 694.287231,2204.925293 \
                        C658.803345,2187.285645 623.353149,2169.577881 587.933655,2151.809082 \
                        C582.882568,2149.275146 577.879211,2146.567871 573.145996,2143.491211 \
                        C547.737549,2126.974365 522.662781,2109.930664 496.997314,2093.826660 \
                        C476.250244,2080.808350 458.540985,2064.245361 440.399384,2048.121582 \
                        C411.068207,2022.053467 381.769684,1995.948608 352.465088,1969.850708 \
                        C339.055359,1957.908325 325.605377,1946.010010 312.299438,1933.953125 \
                        C308.146942,1930.190552 303.667877,1926.494629 304.006012,1919.852051 \
                        C304.071472,1918.566040 302.703949,1916.776245 301.499084,1915.919922 \
                        C277.034973,1898.532227 262.240295,1872.820435 244.533707,1849.661133 \
                        C228.766159,1829.037964 213.793060,1807.806763 197.998199,1787.205200 \
                        C183.892761,1768.807129 174.824615,1747.637817 163.981216,1727.455566 \
                        C143.664169,1689.640503 123.472054,1651.751221 103.870262,1613.563232 \
                        C97.827560,1601.790894 93.673820,1589.021851 89.002617,1576.578735 \
                        C80.238800,1553.234009 70.570091,1530.143555 63.383247,1506.312378 \
                        C52.537243,1470.347656 42.790771,1434.009033 33.973289,1397.492065 \
                        C29.232035,1377.856567 27.289167,1357.535034 24.288683,1337.492310 \
                        C21.139910,1316.459106 18.200903,1295.394409 15.257258,1274.331177 \
                        C14.707565,1270.397827 14.285708,1266.407349 14.282550,1262.442871 \
                        C14.224942,1190.116943 13.843621,1117.787354 14.531286,1045.468018 \
                        C14.694423,1028.311523 18.424862,1011.180725 20.646984,994.055359 \
                        C21.886806,984.500488 23.738262,975.015991 24.726957,965.439148 \
                        C27.929085,934.422363 38.718521,905.255127 46.623096,875.411560 \
                        C57.181164,835.549866 68.675873,795.933655 80.047592,756.292175 \
                        C82.235092,748.666626 85.156471,741.135498 88.681496,734.028137 \
                        C114.431732,682.109192 140.820404,630.502930 166.160324,578.386047 \
                        C177.871536,554.299500 191.897003,531.891724 207.726364,510.399719 \
                        C230.227280,479.849487 251.839630,448.634979 274.769470,418.415924 \
                        C282.502686,408.224365 292.971130,400.070679 302.423492,391.235992 \
                        C307.680786,386.322174 313.962616,382.610931 314.471649,374.035492 \
                        C314.631439,371.343414 317.959106,368.516663 320.362976,366.330017 \
                        C346.932159,342.161255 373.606506,318.108154 400.249512,294.020538 \
                        C418.505829,277.515228 436.239227,260.377991 455.188171,244.710602 \
                        C468.481476,233.719421 483.386566,224.667130 497.649872,214.862442 \
                        C513.015198,204.300125 528.200195,193.439346 543.968201,183.509613 \
                        C558.303833,174.481964 573.084778,166.089508 588.078430,158.193832 \
                        C619.581055,141.604446 651.069763,124.939392 683.130310,109.479340 \
                        C699.526184,101.573006 717.037598,95.903885 734.231140,89.743782 \
                        C768.672119,77.404251 803.118225,65.053368 837.819397,53.478233 \
                        C851.300171,48.981499 865.492920,46.635757 879.332092,43.192593 \
                        C899.338745,38.214962 919.129761,32.112003 939.359436,28.356247 \
                        C963.168579,23.935926 987.467834,22.199724 1011.337646,18.051098 \
                        C1043.082642,12.533707 1075.006104,13.439035 1106.940308,13.404224 \
                        C1150.935791,13.356265 1194.937378,13.831219 1238.924316,13.214580 \
                        C1262.357056,12.886085 1285.276367,16.530092 1308.415039,18.870012 \
                        C1344.758301,22.545261 1379.224121,34.170124 1414.419800,42.603779 \
                        C1457.730835,52.982044 1500.823364,64.336739 1543.758301,76.183052 \
                        C1558.744629,80.317978 1572.885742,87.435097 1587.580078,92.725754 \
                        C1626.603516,106.776138 1662.122192,127.841682 1698.313843,147.573715 \
                        C1721.688721,160.317871 1745.135132,172.934143 1768.387817,185.897507 \
                        C1776.800293,190.587418 1784.917358,195.866302 1792.859497,201.327072 \
                        C1806.019653,210.375656 1818.684082,220.158997 1831.999756,228.963638 \
                        C1852.911621,242.790955 1871.484375,259.380188 1889.957153,276.162537 \
                        C1908.658813,293.153076 1927.791016,309.675598 1946.284912,326.886414 \
                        C1956.755249,336.630463 1966.411621,347.260468 1976.273804,357.644196 \
                        C1991.857056,374.051575 2006.910278,390.984192 2022.942627,406.935944 \
                        C2034.586426,418.521332 2044.639526,431.256500 2054.321533,444.387665 \
                        C2074.073730,471.176697 2094.091064,497.777740 2113.387451,524.891541 \
                        C2120.286377,534.585510 2125.730713,545.372131 2131.303223,555.942444 \
                        C2156.755859,604.223450 2182.603516,652.311401 2207.051025,701.099365 \
                        C2216.383789,719.724548 2222.666992,739.922241 2229.769287,759.609131 \
                        C2237.783447,781.825378 2245.186035,804.262878 2252.780029,826.629456 \
                        C2254.273682,831.027893 2255.429688,835.540894 2256.986816,840.789429 \
                        M2020.231201,428.864746 \
                        C1976.593018,378.335083 1929.731079,331.087524 1878.355957,288.341492 \
                        C1802.366821,225.115891 1719.715942,172.576828 1629.914795,131.134598 \
                        C1545.067749,91.978676 1456.880859,63.522572 1365.004150,46.586700 \
                        C1324.039307,39.035530 1282.822754,32.929207 1241.249512,30.126894 \
                        C1194.346680,26.965334 1147.389648,26.629026 1100.383301,28.902803 \
                        C1043.011475,31.677988 986.299194,39.156670 930.000427,50.278431 \
                        C879.572876,60.240341 830.163025,74.002365 781.738037,91.067139 \
                        C721.291748,112.368179 662.662231,138.012177 607.142090,170.138870 \
                        C575.736450,188.311707 544.753479,207.364380 514.670349,227.638458 \
                        C469.021240,258.403076 426.726074,293.482422 386.323212,330.949463 \
                        C339.257294,374.595367 295.908051,421.629639 257.673706,473.044708 \
                        C212.475204,533.824707 172.605591,598.026062 139.635391,666.439148 \
                        C103.020683,742.414673 75.291946,821.408997 56.315254,903.525879 \
                        C41.654076,966.968445 32.636761,1031.224854 29.356522,1096.244873 \
                        C26.211456,1158.585449 28.042797,1220.779053 34.872620,1282.874512 \
                        C39.724617,1326.987793 47.095959,1370.620117 57.119408,1413.807129 \
                        C79.158890,1508.766724 113.090355,1599.289062 158.825638,1685.405518 \
                        C212.203308,1785.912109 278.793091,1876.538818 360.008179,1956.398438 \
                        C399.994080,1995.716919 442.012848,2032.653076 487.205444,2065.828125 \
                        C549.432800,2111.508301 615.577087,2150.656982 685.791382,2182.875244 \
                        C749.255432,2211.996094 814.768372,2235.234863 882.544312,2252.049316 \
                        C954.544495,2269.911621 1027.578369,2281.036377 1101.707764,2284.006348 \
                        C1153.668579,2286.088379 1205.627563,2285.817383 1257.514282,2280.907715 \
                        C1310.997314,2275.846924 1363.893799,2267.636963 1416.186890,2255.224609 \
                        C1523.917480,2229.653564 1625.888062,2189.659424 1721.609863,2133.966309 \
                        C1779.903931,2100.049805 1834.986572,2061.604980 1886.478760,2017.894409 \
                        C1931.827759,1979.398560 1973.747681,1937.553955 2012.604980,1892.650513 \
                        C2059.829102,1838.078247 2101.159912,1779.249512 2137.052002,1716.613770 \
                        C2170.268066,1658.648193 2198.156738,1598.248169 2220.526367,1535.284546 \
                        C2244.801025,1466.959473 2262.549316,1397.035767 2273.187012,1325.278931 \
                        C2280.478271,1276.095337 2285.000732,1226.675903 2285.668945,1176.992920 \
                        C2286.373291,1124.638672 2283.213379,1072.450928 2277.081299,1020.407227 \
                        C2271.731934,975.005859 2263.593262,930.153442 2252.711914,885.804199 \
                        C2240.152832,834.615112 2224.029297,784.547729 2204.371582,735.609802 \
                        C2177.333984,668.299622 2144.197998,604.153564 2104.811523,543.273682 \
                        C2079.268066,503.791260 2051.317871,466.037354 2020.231201,428.864746 \
                        z')
                        path(fill='#000000' opacity='1.000000' stroke='none' d='\
                        M2020.699951,429.397339 \
                        C2051.317871,466.037354 2079.268066,503.791260 2104.811523,543.273682 \
                        C2144.197998,604.153564 2177.333984,668.299622 2204.371582,735.609802 \
                        C2224.029297,784.547729 2240.152832,834.615112 2252.711914,885.804199 \
                        C2263.593262,930.153442 2271.731934,975.005859 2277.081299,1020.407227 \
                        C2283.213379,1072.450928 2286.373291,1124.638672 2285.668945,1176.992920 \
                        C2285.000732,1226.675903 2280.478271,1276.095337 2273.187012,1325.278931 \
                        C2262.549316,1397.035767 2244.801025,1466.959473 2220.526367,1535.284546 \
                        C2198.156738,1598.248169 2170.268066,1658.648193 2137.052002,1716.613770 \
                        C2101.159912,1779.249512 2059.829102,1838.078247 2012.604980,1892.650513 \
                        C1973.747681,1937.553955 1931.827759,1979.398560 1886.478760,2017.894409 \
                        C1834.986572,2061.604980 1779.903931,2100.049805 1721.609863,2133.966309 \
                        C1625.888062,2189.659424 1523.917480,2229.653564 1416.186890,2255.224609 \
                        C1363.893799,2267.636963 1310.997314,2275.846924 1257.514282,2280.907715 \
                        C1205.627563,2285.817383 1153.668579,2286.088379 1101.707764,2284.006348 \
                        C1027.578369,2281.036377 954.544495,2269.911621 882.544312,2252.049316 \
                        C814.768372,2235.234863 749.255432,2211.996094 685.791382,2182.875244 \
                        C615.577087,2150.656982 549.432800,2111.508301 487.205444,2065.828125 \
                        C442.012848,2032.653076 399.994080,1995.716919 360.008179,1956.398438 \
                        C278.793091,1876.538818 212.203308,1785.912109 158.825638,1685.405518 \
                        C113.090355,1599.289062 79.158890,1508.766724 57.119408,1413.807129 \
                        C47.095959,1370.620117 39.724617,1326.987793 34.872620,1282.874512 \
                        C28.042797,1220.779053 26.211456,1158.585449 29.356522,1096.244873 \
                        C32.636761,1031.224854 41.654076,966.968445 56.315254,903.525879 \
                        C75.291946,821.408997 103.020683,742.414673 139.635391,666.439148 \
                        C172.605591,598.026062 212.475204,533.824707 257.673706,473.044708 \
                        C295.908051,421.629639 339.257294,374.595367 386.323212,330.949463 \
                        C426.726074,293.482422 469.021240,258.403076 514.670349,227.638458 \
                        C544.753479,207.364380 575.736450,188.311707 607.142090,170.138870 \
                        C662.662231,138.012177 721.291748,112.368179 781.738037,91.067139 \
                        C830.163025,74.002365 879.572876,60.240341 930.000427,50.278431 \
                        C986.299194,39.156670 1043.011475,31.677988 1100.383301,28.902803 \
                        C1147.389648,26.629026 1194.346680,26.965334 1241.249512,30.126894 \
                        C1282.822754,32.929207 1324.039307,39.035530 1365.004150,46.586700 \
                        C1456.880859,63.522572 1545.067749,91.978676 1629.914795,131.134598 \
                        C1719.715942,172.576828 1802.366821,225.115891 1878.355957,288.341492 \
                        C1929.731079,331.087524 1976.593018,378.335083 2020.699951,429.397339 \
                        M1674.826904,1360.306030 \
                        C1662.863159,1360.306030 1650.899292,1360.306030 1638.672974,1360.306030 \
                        C1620.662720,1393.499390 1602.838135,1426.350586 1584.156006,1460.782104 \
                        C1565.345947,1426.077271 1547.489502,1393.132080 1529.984131,1360.834473 \
                        C1512.333862,1360.834473 1495.777100,1360.834473 1478.702881,1360.834473 \
                        C1478.702881,1424.132690 1478.702881,1486.902954 1478.702881,1549.890991 \
                        C1494.985474,1549.890991 1510.832642,1549.890991 1527.704712,1549.890991 \
                        C1527.704712,1516.364746 1527.703735,1483.424683 1527.734497,1450.484741 \
                        C1527.734619,1450.316895 1528.164795,1450.109009 1528.426514,1449.992554 \
                        C1528.727539,1449.858643 1529.064453,1449.805786 1529.734131,1449.622314 \
                        C1531.498535,1452.677124 1533.346069,1455.791992 1535.114258,1458.951172 \
                        C1544.056885,1474.929199 1552.980835,1490.917480 1561.906616,1506.904907 \
                        C1563.520752,1509.796021 1564.756592,1512.747314 1569.097534,1512.659912 \
                        C1580.380371,1512.432495 1591.670898,1512.583496 1603.175171,1512.583496 \
                        C1615.197266,1491.226807 1626.998901,1470.261597 1638.800537,1449.296509 \
                        C1639.578125,1449.494263 1640.355713,1449.692017 1641.133301,1449.889771 \
                        C1641.133301,1483.186890 1641.133301,1516.483887 1641.133301,1549.806885 \
                        C1658.171265,1549.806885 1673.931885,1549.806885 1689.616943,1549.806885 \
                        C1691.589966,1526.920654 1690.721680,1368.131836 1688.482544,1360.306030 \
                        C1684.698242,1360.306030 1680.736694,1360.306030 1674.826904,1360.306030 \
                        M1022.504578,882.596680 \
                        C1027.010986,881.975281 1029.793701,883.745300 1031.984009,887.913452 \
                        C1039.258179,901.756409 1046.910400,915.401245 1054.468018,929.094299 \
                        C1056.513794,932.800842 1058.738037,936.409058 1060.776245,939.885010 \
                        C1069.888184,939.885010 1078.208862,939.917480 1086.529419,939.875732 \
                        C1094.920044,939.833679 1103.310425,939.718018 1113.106079,939.620544 \
                        C1101.460449,919.014465 1090.726562,900.021851 1079.989380,881.023132 \
                        C1081.434448,880.041077 1082.179932,879.268799 1083.083740,878.959595 \
                        C1099.578247,873.319397 1107.954834,860.659485 1109.177612,844.413513 \
                        C1110.571655,825.892761 1110.630005,807.099670 1109.185913,788.587402 \
                        C1107.858398,771.566956 1099.226196,758.008728 1081.493896,753.325195 \
                        C1072.917236,751.059875 1063.836914,749.810181 1054.966064,749.707520 \
                        C1020.003357,749.303101 985.033203,749.522522 950.065857,749.561523 \
                        C947.530945,749.564392 944.996399,749.976624 942.595764,750.186768 \
                        C942.595764,813.604614 942.595764,876.382263 942.595764,939.520081 \
                        C958.773560,939.520081 974.320923,939.520081 991.276001,939.520081 \
                        C991.276001,920.524902 991.276001,901.748474 991.276001,882.593323 \
                        C1001.992126,882.593323 1011.305115,882.593323 1022.504578,882.596680 \
                        M938.362122,1180.975586 \
                        C938.422913,1193.612549 937.855225,1206.265625 941.486267,1218.648315 \
                        C945.681702,1232.955566 954.619446,1242.538208 969.090942,1246.109619 \
                        C976.460693,1247.928345 984.171936,1249.074097 991.751038,1249.201416 \
                        C1015.063416,1249.593018 1038.389404,1249.555054 1061.703735,1249.224854 \
                        C1068.966431,1249.121948 1076.355469,1248.186890 1083.429321,1246.531982 \
                        C1098.689697,1242.961914 1108.828369,1233.324585 1112.294800,1217.967896 \
                        C1114.257935,1209.271484 1115.234863,1200.207031 1115.418823,1191.282959 \
                        C1115.857910,1169.971680 1115.717529,1148.643799 1115.502686,1127.325684 \
                        C1115.388794,1116.020142 1115.225464,1104.658325 1114.037598,1093.432495 \
                        C1111.706055,1071.401367 1100.131348,1059.233154 1078.405762,1054.951416 \
                        C1074.832397,1054.247192 1071.139404,1053.843140 1067.499878,1053.830444 \
                        C1040.516846,1053.735840 1013.531372,1053.592529 986.551880,1053.909912 \
                        C980.318054,1053.983276 973.920959,1055.148804 967.918396,1056.904053 \
                        C954.052246,1060.958984 944.935059,1070.305176 941.606384,1084.381592 \
                        C939.784363,1092.086182 938.666321,1100.121704 938.532166,1108.030151 \
                        C938.131165,1131.675537 938.372192,1155.332031 938.362122,1180.975586 \
                        M1024.120972,1550.477905 \
                        C1038.654297,1550.477905 1053.187622,1550.477905 1069.059692,1550.477905 \
                        C1057.457153,1529.964722 1046.708252,1510.960693 1036.074829,1492.160767 \
                        C1037.188843,1491.102539 1037.568237,1490.451050 1038.103516,1490.276001 \
                        C1055.012573,1484.748535 1063.492432,1472.198486 1065.189697,1455.376343 \
                        C1067.227051,1435.184570 1068.023682,1414.819092 1064.330200,1394.685669 \
                        C1061.097412,1377.062866 1049.974487,1366.554199 1032.743652,1362.666626 \
                        C1026.623413,1361.285889 1020.241211,1360.477051 1013.972412,1360.439575 \
                        C978.005676,1360.224976 942.037048,1360.306030 906.069153,1360.343018 \
                        C903.537964,1360.345581 901.007263,1360.802124 898.371094,1361.057861 \
                        C898.371094,1424.377441 898.371094,1486.938110 898.371094,1549.935181 \
                        C914.476074,1549.935181 930.269775,1549.935181 946.674805,1549.935181 \
                        C946.823608,1531.006592 946.605103,1512.581299 946.804688,1494.047241 \
                        C960.530334,1494.047241 972.770630,1494.047241 985.095825,1494.047241 \
                        C986.864258,1497.195801 988.510376,1500.070435 990.104309,1502.973633 \
                        C997.791504,1516.975098 1005.612732,1530.906494 1013.050049,1545.039673 \
                        C1015.207642,1549.139771 1017.791504,1551.225830 1024.120972,1550.477905 \
                        M1347.011108,746.665222 \
                        C1337.025269,746.965210 1326.973022,746.639099 1317.066772,747.689941 \
                        C1293.331787,750.207947 1281.098877,761.889343 1277.032959,785.197327 \
                        C1276.179077,790.091553 1275.825073,795.123657 1275.773926,800.097717 \
                        C1275.613037,815.761230 1275.693848,831.427429 1275.703735,847.092590 \
                        C1275.713501,862.757629 1275.414307,878.431885 1275.847778,894.085632 \
                        C1276.661865,923.483276 1291.207886,940.501282 1318.944092,941.658203 \
                        C1348.884766,942.907104 1378.950317,942.801025 1408.900879,941.675049 \
                        C1434.513794,940.712097 1448.157959,926.625916 1451.427856,901.128418 \
                        C1451.977661,896.841736 1452.274292,892.492859 1452.285278,888.171692 \
                        C1452.359253,859.174683 1452.434448,830.176636 1452.238037,801.180786 \
                        C1452.195435,794.889343 1451.543945,788.508179 1450.324585,782.335938 \
                        C1446.478027,762.865295 1435.357666,751.897705 1415.889526,748.376343 \
                        C1409.694214,747.255676 1403.308960,746.841003 1397.001465,746.752258 \
                        C1381.006104,746.527283 1365.005493,746.669861 1347.011108,746.665222 \
                        M604.694397,1141.000000 \
                        C604.694397,1175.881348 604.694397,1210.762695 604.694397,1246.117432 \
                        C608.386536,1246.452637 610.967163,1246.887207 613.548401,1246.890503 \
                        C645.864319,1246.931763 678.180542,1246.982300 710.495911,1246.837769 \
                        C716.133911,1246.812622 721.817871,1246.217163 727.395264,1245.341553 \
                        C751.676941,1241.529541 767.605286,1225.967896 771.920898,1201.757446 \
                        C772.968140,1195.882568 773.625793,1189.861816 773.683533,1183.900635 \
                        C773.893250,1162.247559 773.955444,1140.588989 773.669739,1118.937744 \
                        C773.578003,1111.988647 772.905029,1104.902222 771.345276,1098.144531 \
                        C766.484558,1077.086060 753.456848,1063.409668 732.266602,1058.606689 \
                        C724.236084,1056.786499 715.769165,1056.328003 707.492554,1056.257812 \
                        C676.511475,1055.994629 645.526794,1056.135010 614.543457,1056.170166 \
                        C611.640930,1056.173462 608.738770,1056.500244 604.695129,1056.746338 \
                        C604.695129,1084.543091 604.695129,1111.771484 604.694397,1141.000000 \
                        M679.003967,1360.299561 \
                        C667.379517,1360.816650 655.648621,1360.520996 644.153870,1362.027588 \
                        C623.255066,1364.766724 611.913147,1375.856934 608.046936,1396.353149 \
                        C606.760620,1403.172241 606.266174,1410.225708 606.215088,1417.177856 \
                        C606.014221,1444.507568 606.120728,1471.839478 606.150391,1499.170654 \
                        C606.154724,1503.168213 606.155029,1507.183960 606.508179,1511.160034 \
                        C608.721313,1536.081543 621.335754,1549.355713 645.913269,1552.479736 \
                        C651.514587,1553.191772 657.222839,1553.777100 662.841003,1553.521484 \
                        C691.126099,1552.234619 719.403015,1550.744263 747.670654,1549.114136 \
                        C756.503113,1548.604736 765.297546,1547.436157 774.038574,1546.576172 \
                        C774.038574,1511.209717 774.038574,1476.951538 774.038574,1442.635010 \
                        C746.144409,1442.635010 718.657837,1442.635010 690.832520,1442.635010 \
                        C690.832520,1453.427002 690.832520,1463.585815 690.832520,1474.626465 \
                        C702.519348,1474.626465 713.742126,1474.626465 725.353149,1474.626465 \
                        C725.353149,1487.996460 725.353149,1500.479126 725.353149,1514.358276 \
                        C705.604309,1514.674316 686.367615,1515.276367 667.136414,1515.135620 \
                        C660.107422,1515.084229 656.405334,1510.685913 655.426758,1503.754883 \
                        C655.148621,1501.784912 655.126038,1499.767212 655.124939,1497.771484 \
                        C655.109985,1471.106934 655.113159,1444.442383 655.136841,1417.777832 \
                        C655.138611,1415.782104 655.207092,1413.770874 655.457092,1411.793823 \
                        C656.472961,1403.759399 660.102966,1399.942505 668.120483,1398.783569 \
                        C671.069458,1398.357300 674.103027,1398.426392 677.098145,1398.423218 \
                        C701.429565,1398.397827 725.760925,1398.424683 750.092285,1398.385254 \
                        C752.640320,1398.381104 755.187805,1398.050903 757.598511,1397.881470 \
                        C757.598511,1385.052368 757.598511,1372.924072 757.598511,1360.299561 \
                        C731.620544,1360.299561 706.311401,1360.299561 679.003967,1360.299561 \
                        M604.943848,884.999390 \
                        C604.943848,893.997131 604.859924,902.995850 604.967346,911.992310 \
                        C605.076782,921.158936 604.481445,930.375488 605.375732,939.387207 \
                        C622.093933,939.387207 637.636047,939.387207 654.194702,939.387207 \
                        C654.194702,921.430298 654.194702,903.947266 654.194702,885.618469 \
                        C663.449158,885.618469 671.708374,885.742798 679.962524,885.592712 \
                        C697.603638,885.272034 715.315247,885.674316 732.864014,884.193237 \
                        C756.644531,882.186401 770.137512,869.241028 772.134644,845.262512 \
                        C773.701111,826.455688 772.494934,807.405579 772.214050,788.468140 \
                        C772.161011,784.893616 770.943237,781.247864 769.787170,777.794312 \
                        C765.847961,766.026917 758.123840,757.973450 746.298401,753.663513 \
                        C736.692383,750.162354 726.800415,749.555054 716.784424,749.544983 \
                        C682.459900,749.510437 648.135376,749.528992 613.810852,749.527405 \
                        C611.216797,749.527283 608.622803,749.527344 604.943970,749.527344 \
                        C604.943970,794.578003 604.943970,838.788696 604.943848,884.999390 \
                        M1216.615967,1429.298950 \
                        C1201.522949,1469.277344 1186.429932,1509.255737 1171.086792,1549.896729 \
                        C1189.670166,1549.896729 1206.806274,1549.896729 1223.855103,1549.896729 \
                        C1228.105225,1538.561890 1232.152832,1527.767334 1236.018555,1517.457764 \
                        C1259.444092,1517.457764 1281.632812,1517.457764 1304.012695,1517.457764 \
                        C1308.186157,1528.749756 1312.189697,1539.581665 1316.031006,1549.975098 \
                        C1333.898804,1549.975098 1350.738892,1549.975098 1368.868408,1549.975098 \
                        C1344.719971,1486.169678 1320.903076,1423.240234 1297.209595,1360.636719 \
                        C1278.415283,1360.636719 1260.808716,1360.636719 1242.666260,1360.636719 \
                        C1234.175293,1383.124512 1225.724487,1405.506104 1216.615967,1429.298950 \
                        z')
                        path(fill='#FBFBFB' opacity='1.000000' stroke='none' d='\
                        M1675.801025,1360.306030 \
                        C1680.736694,1360.306030 1684.698242,1360.306030 1688.482544,1360.306030 \
                        C1690.721680,1368.131836 1691.589966,1526.920654 1689.616943,1549.806885 \
                        C1673.931885,1549.806885 1658.171265,1549.806885 1641.133301,1549.806885 \
                        C1641.133301,1516.483887 1641.133301,1483.186890 1641.133301,1449.889771 \
                        C1640.355713,1449.692017 1639.578125,1449.494263 1638.800537,1449.296509 \
                        C1626.998901,1470.261597 1615.197266,1491.226807 1603.175171,1512.583496 \
                        C1591.670898,1512.583496 1580.380371,1512.432495 1569.097534,1512.659912 \
                        C1564.756592,1512.747314 1563.520752,1509.796021 1561.906616,1506.904907 \
                        C1552.980835,1490.917480 1544.056885,1474.929199 1535.114258,1458.951172 \
                        C1533.346069,1455.791992 1531.498535,1452.677124 1529.734131,1449.622314 \
                        C1529.064453,1449.805786 1528.727539,1449.858643 1528.426514,1449.992554 \
                        C1528.164795,1450.109009 1527.734619,1450.316895 1527.734497,1450.484741 \
                        C1527.703735,1483.424683 1527.704712,1516.364746 1527.704712,1549.890991 \
                        C1510.832642,1549.890991 1494.985474,1549.890991 1478.702881,1549.890991 \
                        C1478.702881,1486.902954 1478.702881,1424.132690 1478.702881,1360.834473 \
                        C1495.777100,1360.834473 1512.333862,1360.834473 1529.984131,1360.834473 \
                        C1547.489502,1393.132080 1565.345947,1426.077271 1584.156006,1460.782104 \
                        C1602.838135,1426.350586 1620.662720,1393.499390 1638.672974,1360.306030 \
                        C1650.899292,1360.306030 1662.863159,1360.306030 1675.801025,1360.306030 \
                        z')
                        path(fill='#FAFAFA' opacity='1.000000' stroke='none' d='\
                        M1021.561401,882.594971 \
                        C1011.305115,882.593323 1001.992126,882.593323 991.276001,882.593323 \
                        C991.276001,901.748474 991.276001,920.524902 991.276001,939.520081 \
                        C974.320923,939.520081 958.773560,939.520081 942.595764,939.520081 \
                        C942.595764,876.382263 942.595764,813.604614 942.595764,750.186768 \
                        C944.996399,749.976624 947.530945,749.564392 950.065857,749.561523 \
                        C985.033203,749.522522 1020.003357,749.303101 1054.966064,749.707520 \
                        C1063.836914,749.810181 1072.917236,751.059875 1081.493896,753.325195 \
                        C1099.226196,758.008728 1107.858398,771.566956 1109.185913,788.587402 \
                        C1110.630005,807.099670 1110.571655,825.892761 1109.177612,844.413513 \
                        C1107.954834,860.659485 1099.578247,873.319397 1083.083740,878.959595 \
                        C1082.179932,879.268799 1081.434448,880.041077 1079.989380,881.023132 \
                        C1090.726562,900.021851 1101.460449,919.014465 1113.106079,939.620544 \
                        C1103.310425,939.718018 1094.920044,939.833679 1086.529419,939.875732 \
                        C1078.208862,939.917480 1069.888184,939.885010 1060.776245,939.885010 \
                        C1058.738037,936.409058 1056.513794,932.800842 1054.468018,929.094299 \
                        C1046.910400,915.401245 1039.258179,901.756409 1031.984009,887.913452 \
                        C1029.793701,883.745300 1027.010986,881.975281 1021.561401,882.594971 \
                        M1053.028442,843.250061 \
                        C1059.367676,840.498535 1061.503418,835.137146 1061.662231,828.789368 \
                        C1061.844971,821.486511 1061.772949,814.175598 1061.719116,806.868774 \
                        C1061.611450,792.250610 1057.258179,787.691345 1042.836060,787.541443 \
                        C1027.890869,787.385986 1012.942749,787.469788 997.996338,787.538025 \
                        C995.797791,787.548035 993.601501,788.050537 991.088074,788.364685 \
                        C991.088074,798.237854 991.065979,807.527100 991.094360,816.816284 \
                        C991.122314,825.943115 991.201477,835.069824 991.255371,843.750671 \
                        C1012.280579,843.750671 1031.828247,843.750671 1053.028442,843.250061 \
                        z')
                        path(fill='#42DF42' opacity='1.000000' stroke='none' d='\
                        M938.362305,1179.979858 \
                        C938.372192,1155.332031 938.131165,1131.675537 938.532166,1108.030151 \
                        C938.666321,1100.121704 939.784363,1092.086182 941.606384,1084.381592 \
                        C944.935059,1070.305176 954.052246,1060.958984 967.918396,1056.904053 \
                        C973.920959,1055.148804 980.318054,1053.983276 986.551880,1053.909912 \
                        C1013.531372,1053.592529 1040.516846,1053.735840 1067.499878,1053.830444 \
                        C1071.139404,1053.843140 1074.832397,1054.247192 1078.405762,1054.951416 \
                        C1100.131348,1059.233154 1111.706055,1071.401367 1114.037598,1093.432495 \
                        C1115.225464,1104.658325 1115.388794,1116.020142 1115.502686,1127.325684 \
                        C1115.717529,1148.643799 1115.857910,1169.971680 1115.418823,1191.282959 \
                        C1115.234863,1200.207031 1114.257935,1209.271484 1112.294800,1217.967896 \
                        C1108.828369,1233.324585 1098.689697,1242.961914 1083.429321,1246.531982 \
                        C1076.355469,1248.186890 1068.966431,1249.121948 1061.703735,1249.224854 \
                        C1038.389404,1249.555054 1015.063416,1249.593018 991.751038,1249.201416 \
                        C984.171936,1249.074097 976.460693,1247.928345 969.090942,1246.109619 \
                        C954.619446,1242.538208 945.681702,1232.955566 941.486267,1218.648315 \
                        C937.855225,1206.265625 938.422913,1193.612549 938.362305,1179.979858 \
                        M1013.186646,1091.670654 \
                        C1010.524414,1091.680298 1007.860046,1091.623535 1005.200378,1091.710815 \
                        C991.985046,1092.144775 987.917480,1096.112427 987.872559,1109.209229 \
                        C987.775452,1137.495361 987.759827,1165.782471 987.887085,1194.068481 \
                        C987.940613,1205.962036 991.934143,1210.775879 1003.775818,1211.256714 \
                        C1019.385132,1211.890625 1035.065796,1211.892944 1050.669312,1211.167114 \
                        C1061.883545,1210.645508 1066.034912,1205.663330 1066.100220,1194.477173 \
                        C1066.267212,1165.858887 1066.263916,1137.238281 1066.112793,1108.619873 \
                        C1066.047729,1096.303223 1061.677246,1092.046021 1049.077026,1091.763062 \
                        C1037.767944,1091.509033 1026.449219,1091.684326 1013.186646,1091.670654 \
                        z')
                        path(fill='#FBFBFB' opacity='1.000000' stroke='none' d='\
                        M1023.263306,1550.477905 \
                        C1017.791504,1551.225830 1015.207642,1549.139771 1013.050049,1545.039673 \
                        C1005.612732,1530.906494 997.791504,1516.975098 990.104309,1502.973633 \
                        C988.510376,1500.070435 986.864258,1497.195801 985.095825,1494.047241 \
                        C972.770630,1494.047241 960.530334,1494.047241 946.804688,1494.047241 \
                        C946.605103,1512.581299 946.823608,1531.006592 946.674805,1549.935181 \
                        C930.269775,1549.935181 914.476074,1549.935181 898.371094,1549.935181 \
                        C898.371094,1486.938110 898.371094,1424.377441 898.371094,1361.057861 \
                        C901.007263,1360.802124 903.537964,1360.345581 906.069153,1360.343018 \
                        C942.037048,1360.306030 978.005676,1360.224976 1013.972412,1360.439575 \
                        C1020.241211,1360.477051 1026.623413,1361.285889 1032.743652,1362.666626 \
                        C1049.974487,1366.554199 1061.097412,1377.062866 1064.330200,1394.685669 \
                        C1068.023682,1414.819092 1067.227051,1435.184570 1065.189697,1455.376343 \
                        C1063.492432,1472.198486 1055.012573,1484.748535 1038.103516,1490.276001 \
                        C1037.568237,1490.451050 1037.188843,1491.102539 1036.074829,1492.160767 \
                        C1046.708252,1510.960693 1057.457153,1529.964722 1069.059692,1550.477905 \
                        C1053.187622,1550.477905 1038.654297,1550.477905 1023.263306,1550.477905 \
                        M978.985413,1398.333130 \
                        C968.472412,1398.333130 957.959351,1398.333130 947.357056,1398.333130 \
                        C947.357056,1418.178467 947.357056,1436.635864 947.357056,1455.583252 \
                        C966.326416,1455.583252 984.612732,1455.962402 1002.872559,1455.431396 \
                        C1012.722473,1455.145020 1017.090942,1450.086792 1017.533386,1440.003906 \
                        C1017.912598,1431.361816 1017.912109,1422.677002 1017.535400,1414.034668 \
                        C1017.074829,1403.468750 1012.551392,1399.020996 1001.949097,1398.469971 \
                        C994.973022,1398.107422 987.965210,1398.357422 978.985413,1398.333130 \
                        z')
                        path(fill='#FBFBFB' opacity='1.000000' stroke='none' d='\
                        M1348.009033,746.665283 \
                        C1365.005493,746.669861 1381.006104,746.527283 1397.001465,746.752258 \
                        C1403.308960,746.841003 1409.694214,747.255676 1415.889526,748.376343 \
                        C1435.357666,751.897705 1446.478027,762.865295 1450.324585,782.335938 \
                        C1451.543945,788.508179 1452.195435,794.889343 1452.238037,801.180786 \
                        C1452.434448,830.176636 1452.359253,859.174683 1452.285278,888.171692 \
                        C1452.274292,892.492859 1451.977661,896.841736 1451.427856,901.128418 \
                        C1448.157959,926.625916 1434.513794,940.712097 1408.900879,941.675049 \
                        C1378.950317,942.801025 1348.884766,942.907104 1318.944092,941.658203 \
                        C1291.207886,940.501282 1276.661865,923.483276 1275.847778,894.085632 \
                        C1275.414307,878.431885 1275.713501,862.757629 1275.703735,847.092590 \
                        C1275.693848,831.427429 1275.613037,815.761230 1275.773926,800.097717 \
                        C1275.825073,795.123657 1276.179077,790.091553 1277.032959,785.197327 \
                        C1281.098877,761.889343 1293.331787,750.207947 1317.066772,747.689941 \
                        C1326.973022,746.639099 1337.025269,746.965210 1348.009033,746.665283 \
                        M1349.445557,784.631836 \
                        C1347.450317,784.635193 1345.451294,784.559998 1343.460449,784.654419 \
                        C1328.596069,785.359314 1324.504761,789.394409 1324.447876,804.048889 \
                        C1324.341919,831.316650 1324.314087,858.585754 1324.464233,885.853088 \
                        C1324.541504,899.870422 1329.011841,904.221375 1343.130005,904.376709 \
                        C1357.094971,904.530457 1371.064453,904.537231 1385.029053,904.370300 \
                        C1399.013306,904.203186 1403.397339,899.799622 1403.465942,885.631531 \
                        C1403.598022,858.363953 1403.591919,831.094910 1403.472656,803.827209 \
                        C1403.408813,789.243164 1399.198364,785.049683 1384.266235,784.693909 \
                        C1373.298584,784.432556 1362.319824,784.635864 1349.445557,784.631836 \
                        z')
                        path(fill='#43DF42' opacity='1.000000' stroke='none' d='\
                        M604.694763,1140.000000 \
                        C604.695129,1111.771484 604.695129,1084.543091 604.695129,1056.746338 \
                        C608.738770,1056.500244 611.640930,1056.173462 614.543457,1056.170166 \
                        C645.526794,1056.135010 676.511475,1055.994629 707.492554,1056.257812 \
                        C715.769165,1056.328003 724.236084,1056.786499 732.266602,1058.606689 \
                        C753.456848,1063.409668 766.484558,1077.086060 771.345276,1098.144531 \
                        C772.905029,1104.902222 773.578003,1111.988647 773.669739,1118.937744 \
                        C773.955444,1140.588989 773.893250,1162.247559 773.683533,1183.900635 \
                        C773.625793,1189.861816 772.968140,1195.882568 771.920898,1201.757446 \
                        C767.605286,1225.967896 751.676941,1241.529541 727.395264,1245.341553 \
                        C721.817871,1246.217163 716.133911,1246.812622 710.495911,1246.837769 \
                        C678.180542,1246.982300 645.864319,1246.931763 613.548401,1246.890503 \
                        C610.967163,1246.887207 608.386536,1246.452637 604.694397,1246.117432 \
                        C604.694397,1210.762695 604.694397,1175.881348 604.694763,1140.000000 \
                        M654.111816,1192.850098 \
                        C654.111816,1197.729126 654.111816,1202.608032 654.111816,1208.321045 \
                        C670.440002,1208.321045 685.384277,1208.522461 700.320740,1208.267090 \
                        C716.707397,1207.986938 724.173523,1200.600342 724.358826,1184.235229 \
                        C724.607971,1162.238892 724.609192,1140.234985 724.334717,1118.239014 \
                        C724.138367,1102.509033 716.641174,1094.784668 701.077271,1094.319702 \
                        C687.090149,1093.901733 673.080994,1094.177856 659.082275,1094.265137 \
                        C657.558533,1094.274658 656.039734,1095.060547 654.111816,1095.600220 \
                        C654.111816,1127.594116 654.111816,1159.242798 654.111816,1192.850098 \
                        z')
                        path(fill='#FAFAFA' opacity='1.000000' stroke='none' d='\
                        M680.003174,1360.299561 \
                        C706.311401,1360.299561 731.620544,1360.299561 757.598511,1360.299561 \
                        C757.598511,1372.924072 757.598511,1385.052368 757.598511,1397.881470 \
                        C755.187805,1398.050903 752.640320,1398.381104 750.092285,1398.385254 \
                        C725.760925,1398.424683 701.429565,1398.397827 677.098145,1398.423218 \
                        C674.103027,1398.426392 671.069458,1398.357300 668.120483,1398.783569 \
                        C660.102966,1399.942505 656.472961,1403.759399 655.457092,1411.793823 \
                        C655.207092,1413.770874 655.138611,1415.782104 655.136841,1417.777832 \
                        C655.113159,1444.442383 655.109985,1471.106934 655.124939,1497.771484 \
                        C655.126038,1499.767212 655.148621,1501.784912 655.426758,1503.754883 \
                        C656.405334,1510.685913 660.107422,1515.084229 667.136414,1515.135620 \
                        C686.367615,1515.276367 705.604309,1514.674316 725.353149,1514.358276 \
                        C725.353149,1500.479126 725.353149,1487.996460 725.353149,1474.626465 \
                        C713.742126,1474.626465 702.519348,1474.626465 690.832520,1474.626465 \
                        C690.832520,1463.585815 690.832520,1453.427002 690.832520,1442.635010 \
                        C718.657837,1442.635010 746.144409,1442.635010 774.038574,1442.635010 \
                        C774.038574,1476.951538 774.038574,1511.209717 774.038574,1546.576172 \
                        C765.297546,1547.436157 756.503113,1548.604736 747.670654,1549.114136 \
                        C719.403015,1550.744263 691.126099,1552.234619 662.841003,1553.521484 \
                        C657.222839,1553.777100 651.514587,1553.191772 645.913269,1552.479736 \
                        C621.335754,1549.355713 608.721313,1536.081543 606.508179,1511.160034 \
                        C606.155029,1507.183960 606.154724,1503.168213 606.150391,1499.170654 \
                        C606.120728,1471.839478 606.014221,1444.507568 606.215088,1417.177856 \
                        C606.266174,1410.225708 606.760620,1403.172241 608.046936,1396.353149 \
                        C611.913147,1375.856934 623.255066,1364.766724 644.153870,1362.027588 \
                        C655.648621,1360.520996 667.379517,1360.816650 680.003174,1360.299561 \
                        z')
                        path(fill='#F9F9F9' opacity='1.000000' stroke='none' d='\
                        M604.943909,883.999390 \
                        C604.943970,838.788696 604.943970,794.578003 604.943970,749.527344 \
                        C608.622803,749.527344 611.216797,749.527283 613.810852,749.527405 \
                        C648.135376,749.528992 682.459900,749.510437 716.784424,749.544983 \
                        C726.800415,749.555054 736.692383,750.162354 746.298401,753.663513 \
                        C758.123840,757.973450 765.847961,766.026917 769.787170,777.794312 \
                        C770.943237,781.247864 772.161011,784.893616 772.214050,788.468140 \
                        C772.494934,807.405579 773.701111,826.455688 772.134644,845.262512 \
                        C770.137512,869.241028 756.644531,882.186401 732.864014,884.193237 \
                        C715.315247,885.674316 697.603638,885.272034 679.962524,885.592712 \
                        C671.708374,885.742798 663.449158,885.618469 654.194702,885.618469 \
                        C654.194702,903.947266 654.194702,921.430298 654.194702,939.387207 \
                        C637.636047,939.387207 622.093933,939.387207 605.375732,939.387207 \
                        C604.481445,930.375488 605.076782,921.158936 604.967346,911.992310 \
                        C604.859924,902.995850 604.943848,893.997131 604.943909,883.999390 \
                        M724.516907,832.165588 \
                        C724.533508,823.515747 724.643982,814.864807 724.545593,806.216248 \
                        C724.383179,791.939575 720.290649,787.704346 706.110291,787.542664 \
                        C690.808289,787.368225 675.502808,787.472534 660.199036,787.524292 \
                        C658.339539,787.530579 656.481506,787.965332 654.596313,788.204834 \
                        C654.596313,808.063904 654.596313,827.203735 654.596313,847.044373 \
                        C673.961060,847.044373 692.840820,847.371277 711.699402,846.883545 \
                        C719.243042,846.688354 723.697571,841.753357 724.516907,832.165588 \
                        z')
                        path(fill='#FBFBFB' opacity='1.000000' stroke='none' d='\
                        M1216.944824,1428.593262 \
                        C1225.724487,1405.506104 1234.175293,1383.124512 1242.666260,1360.636719 \
                        C1260.808716,1360.636719 1278.415283,1360.636719 1297.209595,1360.636719 \
                        C1320.903076,1423.240234 1344.719971,1486.169678 1368.868408,1549.975098 \
                        C1350.738892,1549.975098 1333.898804,1549.975098 1316.031006,1549.975098 \
                        C1312.189697,1539.581665 1308.186157,1528.749756 1304.012695,1517.457764 \
                        C1281.632812,1517.457764 1259.444092,1517.457764 1236.018555,1517.457764 \
                        C1232.152832,1527.767334 1228.105225,1538.561890 1223.855103,1549.896729 \
                        C1206.806274,1549.896729 1189.670166,1549.896729 1171.086792,1549.896729 \
                        C1186.429932,1509.255737 1201.522949,1469.277344 1216.944824,1428.593262 \
                        M1261.499634,1442.183716 \
                        C1257.179077,1454.966675 1252.858643,1467.749756 1248.332275,1481.141602 \
                        C1263.275879,1481.141602 1276.799438,1481.141602 1291.668823,1481.141602 \
                        C1284.601440,1460.424072 1277.814819,1440.528931 1271.085571,1420.802246 \
                        C1269.790649,1420.997070 1269.260376,1420.960083 1269.207153,1421.101807 \
                        C1266.765015,1427.616821 1264.364380,1434.147461 1261.499634,1442.183716 \
                        z')
                        path(fill='#030303' opacity='1.000000' stroke='none' d='\
                        M1052.202148,843.500366 \
                        C1031.828247,843.750671 1012.280579,843.750671 991.255371,843.750671 \
                        C991.201477,835.069824 991.122314,825.943115 991.094360,816.816284 \
                        C991.065979,807.527100 991.088074,798.237854 991.088074,788.364685 \
                        C993.601501,788.050537 995.797791,787.548035 997.996338,787.538025 \
                        C1012.942749,787.469788 1027.890869,787.385986 1042.836060,787.541443 \
                        C1057.258179,787.691345 1061.611450,792.250610 1061.719116,806.868774 \
                        C1061.772949,814.175598 1061.844971,821.486511 1061.662231,828.789368 \
                        C1061.503418,835.137146 1059.367676,840.498535 1052.202148,843.500366 \
                        z')
                        path(fill='#010301' opacity='1.000000' stroke='none' d='\
                        M1014.160706,1091.670410 \
                        C1026.449219,1091.684326 1037.767944,1091.509033 1049.077026,1091.763062 \
                        C1061.677246,1092.046021 1066.047729,1096.303223 1066.112793,1108.619873 \
                        C1066.263916,1137.238281 1066.267212,1165.858887 1066.100220,1194.477173 \
                        C1066.034912,1205.663330 1061.883545,1210.645508 1050.669312,1211.167114 \
                        C1035.065796,1211.892944 1019.385132,1211.890625 1003.775818,1211.256714 \
                        C991.934143,1210.775879 987.940613,1205.962036 987.887085,1194.068481 \
                        C987.759827,1165.782471 987.775452,1137.495361 987.872559,1109.209229 \
                        C987.917480,1096.112427 991.985046,1092.144775 1005.200378,1091.710815 \
                        C1007.860046,1091.623535 1010.524414,1091.680298 1014.160706,1091.670410 \
                        z')
                        path(fill='#090909' opacity='1.000000' stroke='none' d='\
                        M979.978516,1398.333130 \
                        C987.965210,1398.357422 994.973022,1398.107422 1001.949097,1398.469971 \
                        C1012.551392,1399.020996 1017.074829,1403.468750 1017.535400,1414.034668 \
                        C1017.912109,1422.677002 1017.912598,1431.361816 1017.533386,1440.003906 \
                        C1017.090942,1450.086792 1012.722473,1455.145020 1002.872559,1455.431396 \
                        C984.612732,1455.962402 966.326416,1455.583252 947.357056,1455.583252 \
                        C947.357056,1436.635864 947.357056,1418.178467 947.357056,1398.333130 \
                        C957.959351,1398.333130 968.472412,1398.333130 979.978516,1398.333130 \
                        z')
                        path(fill='#050505' opacity='1.000000' stroke='none' d='\
                        M1350.395752,784.631958 \
                        C1362.319824,784.635864 1373.298584,784.432556 1384.266235,784.693909 \
                        C1399.198364,785.049683 1403.408813,789.243164 1403.472656,803.827209 \
                        C1403.591919,831.094910 1403.598022,858.363953 1403.465942,885.631531 \
                        C1403.397339,899.799622 1399.013306,904.203186 1385.029053,904.370300 \
                        C1371.064453,904.537231 1357.094971,904.530457 1343.130005,904.376709 \
                        C1329.011841,904.221375 1324.541504,899.870422 1324.464233,885.853088 \
                        C1324.314087,858.585754 1324.341919,831.316650 1324.447876,804.048889 \
                        C1324.504761,789.394409 1328.596069,785.359314 1343.460449,784.654419 \
                        C1345.451294,784.559998 1347.450317,784.635193 1350.395752,784.631958 \
                        z')
                        path(fill='#010301' opacity='1.000000' stroke='none' d='\
                        M654.111816,1191.870728 \
                        C654.111816,1159.242798 654.111816,1127.594116 654.111816,1095.600220 \
                        C656.039734,1095.060547 657.558533,1094.274658 659.082275,1094.265137 \
                        C673.080994,1094.177856 687.090149,1093.901733 701.077271,1094.319702 \
                        C716.641174,1094.784668 724.138367,1102.509033 724.334717,1118.239014 \
                        C724.609192,1140.234985 724.607971,1162.238892 724.358826,1184.235229 \
                        C724.173523,1200.600342 716.707397,1207.986938 700.320740,1208.267090 \
                        C685.384277,1208.522461 670.440002,1208.321045 654.111816,1208.321045 \
                        C654.111816,1202.608032 654.111816,1197.729126 654.111816,1191.870728 \
                        z')
                        path(fill='#050505' opacity='1.000000' stroke='none' d='\
                        M724.443359,833.060364 \
                        C723.697571,841.753357 719.243042,846.688354 711.699402,846.883545 \
                        C692.840820,847.371277 673.961060,847.044373 654.596313,847.044373 \
                        C654.596313,827.203735 654.596313,808.063904 654.596313,788.204834 \
                        C656.481506,787.965332 658.339539,787.530579 660.199036,787.524292 \
                        C675.502808,787.472534 690.808289,787.368225 706.110291,787.542664 \
                        C720.290649,787.704346 724.383179,791.939575 724.545593,806.216248 \
                        C724.643982,814.864807 724.533508,823.515747 724.443359,833.060364 \
                        z')
                        path(fill='#0D0D0D' opacity='1.000000' stroke='none' d='\
                        M1261.729370,1441.429932 \
                        C1264.364380,1434.147461 1266.765015,1427.616821 1269.207153,1421.101807 \
                        C1269.260376,1420.960083 1269.790649,1420.997070 1271.085571,1420.802246 \
                        C1277.814819,1440.528931 1284.601440,1460.424072 1291.668823,1481.141602 \
                        C1276.799438,1481.141602 1263.275879,1481.141602 1248.332275,1481.141602 \
                        C1252.858643,1467.749756 1257.179077,1454.966675 1261.729370,1441.429932 \
                        z')