extends ../partials/header
block content
    .all-content-wrapper
        .calculator-wrapper
            .calculator-info-wrapper
                .calculator-info-title.green Hesaplama
                .calculator-info-text.white Aşağıda yağ oranı, TDEE ve 1 Rep Maks hesaplama araçları bulunmaktadır. 
            .each-calculator
                .each-calculator-title Yağ Oranı 
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Cinsiyet
                    .buttons-wrapper
                        .each-calculator-button.bodyfat-gender#male Erkek
                        .each-calculator-button.bodyfat-gender#female Kadın
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Omuz Çevre Uzunluğu
                    input.each-calculator-input.short-input#bodyfat-neck-circumference
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Bel Çevre Uzunluğu
                    input.each-calculator-input.short-input#bodyfat-waist-circumference
                .each-calculator-input-wrapper#hip(style="display: none;")
                    .each-calculator-input-label Kalça Çevre Uzunluğu
                    input.each-calculator-input.short-input#bodyfat-hip-circumference
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Boy
                    input.each-calculator-input.short-input#bodyfat-height
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Kilo
                    input.each-calculator-input.short-input#bodyfat-weight
                .calculate-button#bodyfat-button Hesapla
                .each-calculator-result
                    .each-calculator-result-title
                    .each-calculator-result-text#bodyfat-result-text
            .each-calculator
                .each-calculator-title TDEE 
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Cinsiyet
                    .buttons-wrapper
                        .each-calculator-button.tdee-gender#male Erkek
                        .each-calculator-button.tdee-gender#female Kadın
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Kilo
                    input.each-calculator-input.short-input#tdee-weight
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Boy
                    input.each-calculator-input.short-input#tdee-height
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Yaş
                    input.each-calculator-input.short-input#tdee-age 
                .each-calculator-input-wrapper 
                    .each-calculator-input-label Aktiflik Seviyesi
                    .buttons-wrapper
                        .each-tdee-activity-button.tdee-activity#sedentary Hareketsiz
                        .each-tdee-activity-button.tdee-activity#light Hafif Aktif
                        .each-tdee-activity-button.tdee-activity#moderate Orta Aktif
                        .each-tdee-activity-button.tdee-activity#active Aktif
                        .each-tdee-activity-button.tdee-activity#very-active Sporcu
                .calculate-button#tdee-button Hesapla
                .each-calculator-result
                    .each-calculator-result-title
                    .each-calculator-result-text#tdee-result-text
            .each-calculator
                .each-calculator-title 1 Rep Maks
                .each-calculator-input-wrapper
                    .each-calculator-input-label Ağırlık
                    input.each-calculator-input.short-input 
                .each-calculator-input-wrapper
                    .each-calculator-input-label Tekrar
                    input.each-calculator-input.short-input 
                .calculate-button Hesapla
                .each-calculator-result
                    .each-calculator-result-title#one-rep-max-result-title
                    .each-calculator-result-text#one-rep-max-result
        .links-wrapper
            a.each-link-wrapper Paketler
            a.each-link-wrapper Diyet
            a.each-link-wrapper Antrenman
            a.each-link-wrapper Hesaplama
            a.each-link-wrapper S.S.S
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM