extends ../partials/header
block content
    .all-content-wrapper
        .info-wrapper
            .title-wrapper Diyet
            .each-subtitle-wrapper Makro Besinler
            .each-paragraph-wrapper Vücut enerjisinin temel kaynağı olan üç ana besin kategorisi - karbonhidratlar, proteinler ve yağlar - makro besinler olarak adlandırılır. Sağlıklı vücut süreçlerini korumak, kas büyümesini desteklemek ve fiziksel aktivite için enerji sağlamak için çok önemlidirler. Sağlık veya performans hedeflerine ulaşmak, besin alımını optimize etmek ve dengeli bir diyet sürdürmek için makroları takip etmek bu süreçlerden verim almak için gereklidir.
            .each-subtitle-wrapper Mikro Besinler
            .each-paragraph-wrapper Mikro Besinler, vücudun düzgün çalışması ve genel sağlığın korunması için küçük miktarlarda ihtiyaç duyduğu temel besinlerdir. Metabolizma, bağışıklık fonksiyonu ve hücre büyümesi gibi vücut süreçlerinde önemli görevleri olan vitaminleri ve mineralleri içerirler. Mikro besinler açısından zengin bir diyet tüketmek, genel sağlığı destekleme ve vücudun en iyi şekilde çalışmasını sağlamak için önemlidir.
            .each-subtitle-wrapper Protein Alımı
            .each-paragraph-wrapper Kas kütlesi kazanmayı hedeflerken, direnç antrenmanı yapan kişiler için önerilen protein alımı, genellikle günlük vücut ağırlığının kilogramı başına yaklaşık 1,4 ila 2,0 gram proteindir. Bununla birlikte, kesin protein gereksinimleri, bireysel hedefler, egzersiz yoğunluğu ve toplam kalori alımı gibi faktörlere bağlı olarak değişebilir.
            .each-subtitle Karbonhidrat Alımı
            .each-paragraph-wrapper Kas kütlesi kazanmaya çalışırken, egzersizler için enerji sağlamak ve kas glikojen depolarını desteklemek için karbonhidrat alımı esastır. Kas geliştirmeyi hedefleyen bireyler için önerilen karbonhidrat alımı, aktivite seviyesi, antrenman yoğunluğu ve toplam kalori alımı gibi faktörlere bağlı olarak değişir, ancak genel olarak günlük vücut ağırlığının kilogramı başına 3 ila 5 gram karbonhidrat tüketmek yaygın bir aralıktır. Bir sağlık uzmanına veya tescilli bir diyetisyene danışmak, bireysel ihtiyaçlara ve hedeflere göre en uygun karbonhidrat alımını belirlemeye yardımcı olabilir.
            .each-subtitle-wrapper Yağ Alımı
            .each-paragraph-wrapper Kas kütlesi kazanmaya çalışırken, yağ alımı hormon üretiminde, enerji sağlanmasında ve genel sağlıkta çok önemli bir rol oynar. Optimum kas geliştirme ve genel sağlık için doymuş yağları ve trans yağları sınırlı tutarken, fındık, avokado, zeytinyağı ve yağlı balık gibi kaynaklar da dahil olmak üzere günlük toplam kalorinin yaklaşık %20-30'unu sağlıklı yağlardan tüketmeniz önerilir. -yapı. Bununla birlikte, bireysel ihtiyaçlar değişebilir ve bir sağlık uzmanına veya lisanslı bir diyetisyene danışmak, belirli hedeflere ve diyet tercihlerine göre ideal yağ alımını belirlemeye yardımcı olabilir.
            .each-subtitle-wrapper Yeşillikler 
            .each-paragraph-wrapper  "Yeşillikler"  ıspanak, lahana ve brokoli gibi yeşil yapraklı sebzelerdir. Vitaminler, mineraller ve lif açısından zengin oldukları, genel sağlığı iyileştirdikleri, sindirimi destekledikleri ve vücut için gerekli besinleri sağladıkları için diyete yeşilliklerin dahil edilmesi önemlidir. Yeşilleri diyete dahil etmek, ve besleyicilik açısından sağlıklı beslenme planının oluşturulmasını sağlar.
        .links-wrapper
            a.each-link-wrapper(href='/program') Paketler
            a.each-link-wrapper(href='/diet') Diyet
            a.each-link-wrapper(href='/exercise') Antrenman
            a.each-link-wrapper(href='/calculator') Hesaplama
            a.each-link-wrapper(href='/faq') S.S.S
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM