extends ../partials/header
block content
    .all-content-wrapper
        .intro-wrapper
            .slider-wrapper
                .each-intro-background 1 
                .each-intro-background 2
                .each-intro-background 3
                .each-intro-background 4
                .each-intro-background 1 
                .each-intro-background 2
                .each-intro-background 3
                .each-intro-background 4
                .each-intro-background 1 
                .each-intro-background 2
                .each-intro-background 3
                .each-intro-background 4
        .info-wrapper
            .title-wrapper Misyonumuz
            .each-paragraph-wrapper Spor salonu denildiğinde genellikle insanların formunda kalmak için gittikleri ağırlıklarının ve koşu bandının bulunduğu bir yer akla gelir. Spor salonu  insanların kondisyon ölçütleri, performanslarını ve vücut estetiklerini bir veya daha fazla amaca yönelik olarak geliştirmek için gittikleri yerlerdir.
            .each-paragraph-wrapper Günümüzde her türlü sosyal mecrada "fit olmak" ve "fitness" terimleri yaygın olarak kullanılmakta ancak formda kalmayı yalnızca estetik kas gelişimi, düşük vücut yağ yüzdesine sahip olmak olarak görmemeliyiz. Spora farklı yaklaşım şekilleri bulunur ve bu yaklaşımlar hedefleri ve o hedefe giden yöntemleri değiştirir.
            .each-paragraph-wrapper Prodogram sizin spor ve diyet planlarınızı her türlü hedefinize yaşam tarzınıza ve spor geçmişinize uygun hale getirerek gerçek anlamda kişiselleştirmektedir. İster bir spor salonuna gitme imkanınız olsun ister olmasın. İster patlayıcı kuvvet inşa etmek isteyin isterse estetik bir vücut isterseniz aynı anda birden fazla hedefiniz olsun . Gerek yeni başlayanlara gerekse yıllardır spor ile yaşayan insanlara rehber olmanın peşindeyiz.
            .each-paragraph-wrapper Biz spor gereksinimlerinizin her birini karşılıyoruz. Prodogram'da bir fitness felsefemiz var: 
            .slogan-wrapper PLANLA, YAP VE FETHET.
        .links-wrapper
            a.each-link-wrapper(href='/program') Paketler
            a.each-link-wrapper(href='/diet') Diyet
            a.each-link-wrapper(href='/exercise') Antrenman
            a.each-link-wrapper(href='/calculator') Hesaplama
            a.each-link-wrapper(href='/faq') S.S.S
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM