extends ../partials/header
block content
    .all-content-wrapper
        .program-wrapper
            .title-wrapper Paketler
            img.each-program-wrapper(src="res/program1.jpg")
            img.each-program-wrapper(src="res/program2.jpg")
            img.each-program-wrapper(src="res/program3.jpg")
            img.each-program-wrapper(src="res/program4.jpg")
        .links-wrapper
            a.each-link-wrapper(href='/program') Paketler
            a.each-link-wrapper(href='/diet') Diyet
            a.each-link-wrapper(href='/exercise') Antrenman
            a.each-link-wrapper(href='/calculator') Hesaplama
            a.each-link-wrapper(href='/faq') S.S.S
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM