.applicant-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    margin-bottom: 20px;
    
}
.applicant-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    color: white;
}
.copy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    min-width: 100px;
    height: 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.days-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.each-day-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    border: solid 3px rgba(152, 152, 152, 0.6);
}
.each-day-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: rgba(152, 152, 152, 0.6);
    font-size: 30px;
}
.each-exercise-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0 10px;
    border: solid 3px rgba(152, 152, 152, 0.6);
    background-color: rgb(0, 0, 0);
}
.each-exercise-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 100%;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    color: white;
    margin-left: 5%;

}
.each-exercise-sets {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 7%;
    height: 100%;
    font-size: 16px;
    font-family: "Russo One", sans-serif;
    color: white;
    margin-left: 2%;
}
.each-exercise-reps {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    height: 100%;
    font-size: 16px;
    font-family: "Russo One", sans-serif;
    color: white;
    margin-left: 2%;

}
.x-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    height: 100%;
    font-size: 16px;
    font-family: "Russo One", sans-serif;
    color: white;
}
.each-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.project-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: rgb(254, 254, 254);
    font-size: 44px;
    margin-top: 30px;
}
.input-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.each-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 175px;
    height: 70%;
    font-family: 'Russo One', sans-serif;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-right: 10px;
}
.each-input-button-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 175px;
    height: 70%;
    font-family: 'Russo One', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-right: 10px;
}
#column {
    flex-direction: column !important;
    height: 200px !important;
    align-items: start !important;

}
#goals {
    margin-top: 80px;
}
.responsive-details-wrapper {
    display: none;
    color: rgb(254, 254, 254);
}
.message-wrapper {
    width: 85%;
    height: 120px;
    border: 3px solid rgb(104, 104, 104);
    border-radius: 20px;
    margin-top: 40px;
}
.message-close-wrapper {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10px;
    padding-top: 20px;
    padding-right: 10px;
}
.message-close {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: rgb(74, 74, 117);
}
.message-close:hover {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: rgb(199, 199, 219);
}
.message-text-wrapper {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    color: rgb(200, 200, 204);
    padding: 10px;
    margin-bottom: 20px
    
}
.tdee-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
@media (max-width: 1000px) {
    .each-input-button {
        min-width: 125px;
        font-size: 13px;
    }
    .each-input-button-selected {
        min-width: 125px;
        font-size: 13px;
    }
}
@media (max-width: 750px) {
    .input-buttons-wrapper {
        flex-wrap: wrap;
    }
    .each-input-button {
        margin-bottom: 10px;
    }
    .each-input-wrapper {
        justify-content: space-around;
    }
    .responsive-details-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
    }
    .each-details-wrapper {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }
    .each-exercise-name {
        display: flex;
        justify-content: center;
        width: 70%;

    }
    .each-exercise-sets, .each-exercise-reps {
        width: 15%;
    }
    #details {
        display: none;
    }
}
@media (max-width: 550px) {
    .each-exercise-name {
        display: flex;
        justify-content: start;
        width: 60%;
        font-size: 17px;
    }
    .applicant-info {
        width: 40%;
    }
    .each-exercise-sets, .each-exercise-reps {
        width: 20%;
        font-size: 14px;
    }
}
@media (max-width: 450px) {
    #goals {
        margin-top: 200px;
    }
    #stats {
        flex-wrap: wrap;
        min-height: 250px;
        justify-content: center;
    }
    .each-input-line-wrapper {
        flex-direction: column;
        height: auto;
    }
    .each-input-wrapper {
        justify-content: center;
        width: 100%;
    }
    .responsive-details-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }
}
@media (max-width: 400px) {

}